<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <form action="" id="becuase">
        <label for="text">enter text</label>
        <input type="text" id="text" name="text">
        <button id = "butt" type="submit">and this is a button</button>
    </form>
    <hr>
    <h3>is there text?</h3>
    {% if session.get('text') %}
    <h4>Yes, there is: {{session['text']}}</h4>
    {% endif %}
    <script src="static/app.js"></script>
</body>
</html>